body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 360px;
}

main {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 197px;
  height: 197px;
  background-color: #ccc;
  display: inline-block;
  margin-top: 20%;
  margin-bottom: 141px;
}

.signin_btn {
  background-color: #8F6CFF;
  color: white;
  border: none;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 10px;
  cursor: pointer;
  margin: auto;
  display: block;
  width: 100%;
  font-family: 'body2';
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -2%;
}

a {
  text-decoration: none;
  width: 100%;
}

.signup_btn {
  display: flex;
  margin-top: 24px;
  justify-content: center;
}

.comment_signup{
  color: #7B7B7E;
}

.signup{
  color: #8F6CFF;
  padding-left: 11px;
  text-decoration: underline;
}

.comment_signup, .signup {
  font-family: 'label';
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -2%;
}

@media screen and(max-width: 430px){
  body{
    width: 360px;
    }
}
