.weekdays {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.weekdays div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 12%;
}
.selected-date {
    background-color: #7d4cff;
    color: white;
}
* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 37px;
    margin-bottom: 24px;
    font-family: 'body2';
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -2%;
}

.back_btn {
    position: absolute;
    left: 0%;
    border: none;
    background-color: transparent;
}



.calendar {
    text-align: center;
}

.week {
    display: flex;
    justify-content: space-around;
}

.day {
    flex: 1;
    font-size: 14px;
    padding: 11px 15px;
    color: #7B7B7E;
}

.day .day-name {
    font-family: 'label' ;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -2%;
    display: block;
    padding: 4px 0; 
}

.day .day-date {
    font-family: 'body3' ;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -2%;
    display: block;
    padding: 4px 0;
}

.day.active {
    color: white;
    background-color: #8F6CFF;
    border-radius: 10px;
}

.details {
    margin: 24px 0;
    text-align: start;
}

.date-info {
    font-size: 18px;
    margin-bottom: 10px;
}

.full-date {
    font-family: 'body2';
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -2%;
    display: block;
}

.day-of-week-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
}

.day-of-week {
    font-family: 'heading2';
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -2%;
}

.mood-list,.comment-list {
    justify-content: center;
    padding: 12px 17px;
}

.mood-list2,.comment-list2 {
    justify-content: center;
    padding: 12px 17px;
}

.comment-list2{
    background-color: #F6F4FF;
    border-radius: 12px;
}

.comment-section {
    flex-direction: column;
}

.comment-list{
    background-color: #F6F4FF;
    border-radius: 12px;
}

.mood-item {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.comment-item {
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 8px 0;
}

.mood-item:last-child {
    border-bottom: none;
}

.emoji {
    font-size: 24px;
    margin-right: 12px;
}

.comment-emoji {
    width: 24px;
    height: 24px;
    background-color: #242427;
    border-radius: 61%;
    margin-right: 17px;
    margin-left: 18px;
    flex-shrink: 0;
}

.mood-details,.comment-details  {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
}

.mood-title-time,.comment-title-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    width: 100%;
}

.mood-title {
    font-family: 'semibold';
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -2%;
}

.mood-time,.comment-time {
    font-family: 'label';
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -2%;
    color: #7B7B7E;
}

.mood-reason {
    margin-top: 6px;
    font-family: 'body3';
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -2%;
    color: #7B7B7E;
    width: 250px;
    word-wrap: break-word;
}

.comment-title {
    font-family: 'body3';
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -2%;
    margin-right: 10px;
    color: #7B7B7E;
}

.comment-reason {
    margin-top: 6px;
    font-family: 'body3';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -2%;
    color: #242427;
    width: 194px;
    word-wrap: break-word;
}

.mood-item2 {
    display: flex;
    align-items: center;
    padding: 8px 0;
    height: 74px;
}

.comment-item2 {
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 8px 0;
    height: 74px;
}

.emoji2 {
    font-size: 24px;
    margin-right: 12px;
}

.comment-emoji2 {
    width: 24px;
    height: 24px;
    background-color: #242427;
    border-radius: 61%;
    margin-right: 17px;
    margin-left: 18px;
    flex-shrink: 0;
}

.mood-details2,.comment-details2  {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
}

.mood-title-time2,.comment-title-time2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    width: 100%;
}

.mood-title2 {
    font-family: 'semibold';
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -2%;
    color: #7B7B7E;
}

.mood-reason2 {
    margin-top: 6px;
    font-family: 'body3';
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -2%;
    color: #7B7B7E;
    width: 250px;
    word-wrap: break-word;
}

.comment-title2 {
    font-family: 'body3';
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -2%;
    margin-right: 10px;
    color: #7B7B7E;
}

.comment-reason2 {
    margin-top: 6px;
    font-family: 'body3';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -2%;
    color: #7B7B7E;
    width: 194px;
    word-wrap: break-word;
}

.modal-backdrop {
    display: none;
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal.show .modal-content {
    bottom: 0;
}

.modal-backdrop.show {
    display: block;
}

.modal-content {
    z-index: 1001;
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fefefe;
    padding: 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    transition: bottom 0.3s ease-in-out;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.close {
    position: absolute;
    left: 0;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
}

.modal-title {
    font-size: 18px;
    line-height: 34px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.recorded-emotion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
    background-color: #F7F8FA;
    padding: 16px;
    border-radius: 12px;
}

.span1,.span2 {
    font-family: 'body3';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -2%;
    margin-top: 4px;
}

.span1{
    color: #242427;
}

.span2{
    color: #6838FF;
}

.record-info {
    display: block;
    font-family: 'label';
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -2%;
    text-align: start;
    color: #7B7B7E;
    margin-top: 7px;
    margin-bottom: 24px;
}

.emotion-title, .hour {
    font-family: 'body3';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -2%;
    margin-top: 24px;
    margin-bottom: 8px;
}

.emotions {
    display: flex;
    justify-content: space-between;
    /**justify-content: space-around;에서 변경함*/
    margin-bottom: 20px;
}

.emotions {
    display: flex;
    justify-content: space-between;
    /**justify-content: space-around;에서 변경함*/
    margin-bottom: 20px;
}

.emotion-emoji{
    font-size: 22px;
    margin-top: 12px;
    padding-bottom: 5px;
}

.emotions {
    display: flex;
    gap: 10px;
}

.emotion-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #B2B2B4;
    width: 70px;
    height: 78px;
    border-radius: 10px;
    cursor: pointer;
    color: #7B7B7E;
    padding: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.emotion-card.selected {
    border-color: #8F6CFF;
    color: #8F6CFF;
}

.emotion-card .emoji {
    font-size: 24px;
}

.emotion-cards{
    margin-top: 8px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.emotion-card input {
    display: none;
}
.emotion-card label {
    display: block;
    font-size: 14px;
}

.time-inputs {
    display: flex;
    justify-content: left;
    gap: 10px;
    align-items: center;
}

.time-inputs .time-input {
    width: 60px;
    height: 48px;
}

.time-inputs input {
    text-align: center;
}

.form-group {
    text-align: left;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 16px;
    border: 1px solid #B2B2B4;
    color: #000000;
    border-radius: 12px;
    font-size: 14px;
    transition: box-shadow 0.3s ease-in-out;
}

.form-group input::placeholder {
    color: #B2B2B4;
}

.form-group input:focus {
    box-shadow: 0 0 10px rgba(143, 108, 255, 0.15);
    border-color: #8F6CFF;
    outline: none;
}

#error-message {
    color: #EA1C00;
    font-family: 'label' ;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -2%;
    margin-top: 8px;
}

.error-message.hidden {
    display: none;
}

.submit-button {
    background-color: #8F6CFF;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    margin-top: 46px;
    transition: 0.3s ease-in-out;
}

.submit-button:disabled {
    background-color: #7B7B7E;
    cursor: not-allowed;
}

@media screen and(max-width: 430px){
    body{
        width: 360px;
    }
}

a{
    text-decoration : none;
}

selected_date {
    color: white;
    background-color: #8F6CFF;
    border-radius: 10px;
}

.plus-button {
    width: 20px; 
    height: 20px; 
    background: url('/static/img/add_activated.svg') no-repeat center center; /**임시로 이미지...^^.*/
    background-size: contain;
    border: none;
    cursor: pointer;
}

.plus-button.disabled {
    background: url('/static/img/add_unactivated.svg') no-repeat center center; 
    pointer-events: none;
    cursor: not-allowed;
}