body {
    justify-content: center;
}

.page-title {
    flex-grow: 1;
    text-align: center;
    font-family: 'body1';
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -2%;
    padding-top: 36px;
    padding-bottom: 28px;
}

.section-title {
    text-align: start;
    font-family: 'semibold';
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -2%;
    padding-top: 32px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.myprofile-section, .guardian-section, .request-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.myprofile-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 100px;
    border-radius: 12px;
    position: relative;
    margin-top: 8px;
    box-shadow: 0 0 6px rgba(143, 108, 255, 0.15);
}

.guardian-item, .request-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 80px;
    border-radius: 12px;
    position: relative;
    margin-top: 8px;
}

.myprofile-picture {
    width: 68px;
    height: 68px;
    background-color: black;
    border-radius: 50%;
    margin-left: 12px;
    margin-right: 12px;
}

.profile-picture {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    margin-left: 16px;
    margin-right: 12px;
}

.myprofile-info, .profile-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
    align-items: flex-start;
}

.myprofile-name {
    font-family: 'semibold';
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -2%;
    padding-top: 4px;
}

.profile-name {
    font-family: 'body2';
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -2%;
    padding-top: 4px;
}

.profile-birthdate, .profile-relation {
    margin-right: 5px;
    font-family: 'body3';
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -2%;
    color: #7B7B7E;
}

.myprofile-relation {
    margin-right: 5px;
    font-family: 'label';
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -2%;
    color: #7B7B7E;
}

.myprofile-birthdate {
    margin-right: 5px;
    font-family: 'body3';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -2%;
    color: #7B7B7E;
}

.my-edit-profile-button {
    background-color: transparent; 
    border: none;
    cursor: pointer;
    position: absolute; 
    right: 12px;
    text-decoration: underline;
    font-family: 'semibold';
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -2%;
    color: #7B7B7E;
}

.remove-guardian-button {
    background-color: #F6F4FF; 
    color: #8F6CFF;
    border: none;
    cursor: pointer;
    position: absolute;
    padding: 6.5px 12px 6.5px 12px;
    right: 16px;
    border-radius: 5px;
}

.request-button {
    display: flex;
}

.accept-request-button, .reject-request-button, .remove-guardian-button {
    font-family: 'semibold';
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -2%;
}

.accept-request-button {
    background-color: #8F6CFF; 
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    width: 50%;
    padding: 6.5px 12px 6.5px 12px;
    border-radius: 5px;
    margin-right: 4px;
}

.reject-request-button {
    background-color: #F6F4FF; 
    color: #8F6CFF;
    border: none;
    cursor: pointer;
    width: 50%;
    padding: 6.5px 12px 6.5px 12px;
    border-radius: 5px;
}

.modal-backdrop {
    display: none;
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal.show .modal-content {
    bottom: 0;
}

.modal-backdrop.show {
    display: block;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 90%;
    transition: bottom 0.3s ease-in-out;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.close {
    position: absolute;
    left: 0;
    color: #aaa;
    cursor: pointer;
    font-family: 'body2';
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -2%;
}

.modal-title {
    font-family: 'body1';
    font-size: 18px;
    line-height: 34px;
    letter-spacing: -2%;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.profile-picture-edit {
    position: relative;
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    margin: 40px auto 30px auto;
}

.profile-picture-large {
    width: 100px;
    height: 100px;
    background-color: #d3d3d3;
    border-radius: 50%;
}

.edit-icon {
    background-image: url('/static/img/pencil.svg');
    background-size: 100%; 
    background-position: top center; 
    background-repeat: no-repeat; 
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.form-group {
    margin-top: 32px;
    text-align: left;
}

.form-group label {
    display: block;
    font-family: 'semibold';
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'body1';
    font-size: 14px;
}

.submit-button {
    background-color: #8F6CFF;
    color: white;
    border: none;
    margin-top: 123px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    width: 100%;
    font-family: 'body2';
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -2%;
    transition: 0.3s  ease-in-out;
}

.submit-button:disabled {
    background-color: #7B7B7E;
    cursor: not-allowed;
}

#name, #birthdate {
    width: 90%;
    margin-top: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #B2B2B4;
    border-radius: 12px;
    font-family: 'body3';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -2%;
    transition: box-shadow 0.3s  ease-in-out; 
}

#name:focus, #birthdate:focus {
    box-shadow: 0 0 10px rgba(143, 108, 255, 0.15);
    border: 1px solid #8F6CFF;
    outline: none;
}

@media screen and(max-width: 430px){
    body{
        width: 360px;
    }
}

#error-message {
    color: #EA1C00;
    font-family: 'label' ;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -2%;
    margin-top: 8px;
}

.error-message.hidden {
    display: none;
}