body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    min-width: 360px;
    max-width: 400px;
}

#wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 360px;
    overflow: hidden;
    padding-left: 5%;
    padding-right: 5%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 45px;
}

.back_btn {
    position: absolute;
    left: 0%;
    border: none;
    background-color: transparent;
}

.comment_login {
    flex-grow: 1;
    text-align: center;
    font-family: 'body2';
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -2%;
}

#progress {
    margin-top: 24px;
    appearance: none;
    width: 100%;
    height: 6px;
}

#progress::-webkit-progress-bar {
    background: #f0f0f0;
    border-radius: 29px;
    border: none;
    overflow: hidden;
}

#progress::-webkit-progress-value {
    background: #8F6CFF;
    border-radius: 29px;
}

.input {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.signin_input {
    text-align: start;
    padding-top: 19px;
    position: relative;
}

.input_type {
    margin-top: 24px;
    margin-bottom: 2px;
    display: block;
    text-align: start;
    font-family: 'heading2';
    font-size: 25px;
    line-height: 32px;
    letter-spacing: -2%;
}

.search {
    position: absolute;
    width: 20px;
    top: 43px;
    right: 16px;
    margin: 0;
}

.input_id, .input_password {
    width: 90%;
    margin-top: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #B2B2B4;
    border-radius: 12px;
    font-family: 'body3';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -2%;
    transition: box-shadow 0.3s ease;
}

.input_id:focus, .input_password:focus {
    box-shadow: 0 0 10px rgba(143, 108, 255, 0.15);
    border: 1px solid #8F6CFF;
    outline: none;
}

::placeholder {
    color: #B2B2B4;
}

.signin_btn {
    background-color: #8F6CFF;
    color: white;
    border: none;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto 26px auto;
    display: block;
    width: 100%;
    font-family: 'body2';
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -2%;
    transition: 0.3s ease;
}

.signin_btn:disabled {
    background-color: #7B7B7E;
    cursor: not-allowed;
}

a {
    text-decoration: none;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.result_item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 80px;
    border-radius: 12px;
}

.profile_picture {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    margin-right: 12px;
}

.profile_info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
    align-items: flex-start;
}

.profile_name {
    font-family: 'body2';
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -2%;
    padding-top: 4px;
}

.birth_date, .relation {
    margin-right: 5px;
    font-family: 'body2';
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -2%;
    color: #7B7B7E;
}

.profile-checkmark {
    width: 20px;
    height: 20px;
    display: none;
}

.profile-checkmark img {
    width: 100%;
    height: 100%;
}

/* 선택된 아이템에서 체크 표시를 숨김 */
.result_item.selected .profile-checkmark {
    display: none;
}

/* 선택되지 않은 아이템에서 체크 표시만 보이게 설정 */
.result_item .profile-checkmark {
    display: block;
}

.modal-content {
    z-index: 1001;
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    transition: bottom 0.3s ease-in-out;
}

.modal-content h2 {
    margin-top: 20px;
    font-family: 'heading1';
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -2%;
}

.modal-content p {
    font-family: 'body2';
    font-size: 14px;
    line-height: 16px;
    color: #7B7B7E;
    letter-spacing: -2%;
    margin-bottom: 24px;
}

.modal.show .modal-content {
    bottom: 0;
}

.modal-backdrop {
    display: none;
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* 반투명 검정색 */
}

.modal-backdrop.show {
    display: block;
}

.modal-handler {
    width: 40px;
    height: 5px;
    background-color: #ccc;
    border-radius: 2.5px;
    margin: 0 auto 10px auto;
}

.relation-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    position: relative;
    padding: 15px 10px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    background-color: #fff;
}

.relation-btn {
    flex-grow: 1;
    background: none;
    border: none;
    text-align: left;
    font-family: 'body2';
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -2%;
    color: #7B7B7E;
}

.relation-btn:hover {
    color: #8F6CFF;
}

.relation-btn-wrapper.selected .relation-btn {
    color: #8F6CFF;
}

.relation-btn-wrapper .checkmark {
    position: relative;
}


.relation-btn-wrapper.selected .checkmark img {
    content: url('/assets/check_activated.svg'); 
}

.relation-btn-wrapper .checkmark img {
    content: url('/assets/check_unactivated.svg');
}
