<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘의 감정</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'emotion/css/emotion_page.css' %}">
    <style>
        @import url("{% static 'css/fonts.css' %}");
    </style>
</head>
<body>
    {% load static %}
    {% load date_kr %}
    <div id="wrap">
        <main>
            <div class="topbar">
                <button type="button" class="back_btn" onclick="window.history.back()">
                    <img src="{% static 'img/arrow_back.svg' %}" alt="뒤로가기">
                </button>           
                <span class="comment_login">오늘의 감정</span> 
            </div>
            
            <div class="calendar">
                <div class="week" id="week-calendar">
                    {% for date in dates %}
                    <div class="day {% if date == selected_date %}active{% endif %}" data-date="{{ date|date:'Y-m-d' }}">
                        <a href="?date={{ date|date:'Y-m-d' }}">
                                <div>{{ date|date_kr }}</div>
                                <div>{{ date|date:'j' }}</div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>            

            <div class="details">
                <div class="date-info">
                    <div class="full-date" id="full-date">{{ selected_date|date:'Y년 n월 j일' }}</div>
                    <div class="day-of-week-container">
                        <div class="day-of-week" id="day-of-week"></div>
                        <!--<button class="plus-button" id="plus-button"></button>-->
                        <a href="{% url 'emotion_create' %}" class="plus-button" id="plus-button"></a>
                    </div>
            </div>

            <div class="mood-list">
            {% if emotions %}
                {% for emotion in emotions %}
                <div class="mood-item">
                    <span class="emoji">
                        {% if emotion.emotion == 'happy' %}
                            😊
                        {% elif emotion.emotion == 'neutral' %}
                            😐
                        {% elif emotion.emotion == 'sad' %}
                            😢
                        {% elif emotion.emotion == 'angry' %}
                            😠
                        {% endif %}
                    </span>

                    <div class="mood-details">
                        <div class="mood-title-time">
                            <div class="mood-title">{{ emotion.get_emotion_display }}</div>
                            <div class="mood-time">{{ emotion.time|time:"H:i" }}</div>
                        </div>
                        <div class="mood-reason" id ="mood-reason">{{ emotion.description }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment-section">
                <div class="comment-list">
                        {% if emotion.protector_comment %}
                            {% for protector in emotion.user.userprofile.protectors %}
                            <div class="comment-item">
                                {% if protector.profile_image %}
                                    <img src="{{ protector.profile_image.url }}" alt="Protector Profile Image" class="comment-emoji">
                                {% else %}
                                    <img src="{% static 'default_profile.png' %}" alt="Default Profile Image" class="comment-emoji">
                                {% endif %}

                                <div class="comment-details">
                                    <div class="comment-title-time">
                                        <div class="comment-title">{{ protector.user.username }}</div>
                                        <div class="comment-time">시간 누락됨</div> <!--보호자가 댓글을 단 시간이 누락된듯?-->
                                    </div>
                                    <div class="comment-reason" id="comment-reason">{{ emotion.protector_comment }}</div>
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
                </div>
            </div>
                {% endfor %}
            {% else %}
                <div class="mood-list2">
                    <div class="mood-item2">
                        <div class="emoji2">🫥</div>
                        <div class="mood-details2">
                            <div class="mood-title-time2">
                                <div class="mood-title2">아직 기록된 감정이 없어요</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </main>
    </div>

<!--modal-->
<div class="modal-backdrop"></div>
<div id="modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">취소</span>
            <div class="modal-title">오늘의 감정 기록하기</div>
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="recorded-emotion">
                <div class="span1">😊 기록된 오늘의 감정</div>
                <div class="span2" id="recorded-emotion-status">없음</div>
            </div>
            
            <div class="record-info">오늘의 감정은 하루에 한 개 기록할 수 있어요</div>


            <label for="emotion" class="emotion-title">감정</label>

            <div class="emotion-cards">
                <div class="emotion-card" onclick="selectEmotion(this)">
                    <input type="radio" id="happy" name="emotion" value="happy">
                    <label for="happy">
                        <div class="emoji">😊</div>
                        행복
                    </label>
                </div>
                <div class="emotion-card" onclick="selectEmotion(this)">
                    <input type="radio" id="neutral" name="emotion" value="neutral">
                    <label for="neutral">
                        <div class="emoji">😐</div>
                        평범
                    </label>
                </div>
                <div class="emotion-card" onclick="selectEmotion(this)">
                    <input type="radio" id="sad" name="emotion" value="sad">
                    <label for="sad">
                        <div class="emoji">😢</div>
                        슬픔
                    </label>
                </div>
                <div class="emotion-card" onclick="selectEmotion(this)">
                    <input type="radio" id="angry" name="emotion" value="angry">
                    <label for="angry">
                        <div class="emoji">😠</div>
                        분노
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="hour" class="hour">감정을 느낀 시간</label>
                <input type="hidden" id="time-field" name="time" value="{{ form.time.value }}">
                <div class="time-inputs">
                    <input type="text" id="hour" maxlength="2" placeholder="00" class="time-input" inputmode="numeric" pattern="[0-9]*"> 
                    <div>시</div>
                    <input type="text" id="minute" maxlength="2" placeholder="00" class="time-input" inputmode="numeric" pattern="[0-9]*"> 
                    <div>분</div>
                </div>
                <div id="error-message" class="error-message hidden">입력하신 내용을 다시 확인해주세요</div>
            </div>
            
                <!--<div class="description-field">
                    <label for="description">감정을 느낀 이유</label>
                    {{ form.description }}
                </div> -->

            <div class="form-group">
                <label for="reason">감정을 느낀 이유</label>
                <input type="text" id="reason" name="description" placeholder="감정을 느낀 이유를 작성해주세요">
            </div>

            <button type="submit" id="submit-button"  class="submit-button" disabled>기록</button>
        </form>
    </div>
</div>
<!--
<script src="{% static 'emotion/js/emotion_page.js' %}"></script>
연결 안되는디?-->
<script>
    function selectEmotion(card) {
        var cards = document.getElementsByClassName('emotion-card');
        for (var i = 0; i < cards.length; i++) {
            cards[i].classList.remove('selected');
        }
        card.classList.add('selected');
    }
    
    function truncateText(element, maxLength) {
        let text = element.textContent;
        if (text.length > maxLength) {
            element.textContent = text.slice(0, maxLength) + '...';
        }
    }
    document.querySelectorAll('.mood-reason').forEach(function(element) {
        truncateText(element, 19);
    });
    
    document.querySelectorAll('.comment-reason').forEach(function(element) {
        truncateText(element, 30);
    });
    
    document.addEventListener("DOMContentLoaded", function() {
        const plusButton = document.getElementById('plus-button');
        const modalBackdrop = document.querySelector('.modal-backdrop');
        const modal = document.getElementById('modal');
        const closeModalButton = document.querySelector('.close');
        const submitButton = document.getElementById('submit-button');
        const hourInput = document.getElementById('hour');
        const minuteInput = document.getElementById('minute');
        const reasonInput = document.getElementById('reason');
        const errorMessage = document.getElementById('error-message');
        const emotionButtons = document.querySelectorAll('.emotion-card');
        const recordedEmotionStatus = document.getElementById('recorded-emotion-status');
        const formTimeInput = document.getElementById('time-field'); // Django form 필드를 선택
        const commentReason = document.querySelectorAll('.comment-reason');
        const moodReason = document.querySelectorAll('.mood-reason');
        const selectedDateKr = "{{ selected_date|date:'Y년 n월 j일' }}";
        const daysOfWeek = ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'];
        const dayOfWeekElement = document.getElementById('day-of-week');
        const activeDay = document.querySelector('.day.active');
    
        let selectedEmotionText = null;
    
        function formatDateToKR(date) {
            const year = date.getFullYear();
            const month = date.getMonth() + 1;
            const day = date.getDate();
            return `${year}년 ${month}월 ${day}일`;
        }
    
        function updateDayOfWeek(dateString) {
            const date = new Date(dateString);
            const dayOfWeek = daysOfWeek[date.getDay()];
            if (dayOfWeekElement) {
                dayOfWeekElement.textContent = dayOfWeek;
            }
        }
    
        if (activeDay) {
            const selectedDate = activeDay.getAttribute('data-date');
            updateDayOfWeek(selectedDate);
        }
    
        function updatePlusButtonState() {
            const todayKR = formatDateToKR(new Date());
            if (selectedDateKr !== todayKR) {
                plusButton.classList.add('disabled');
            } else {
                plusButton.classList.remove('disabled');
            }
        }
    
        updatePlusButtonState();
    
        if (dayOfWeekElement) {
            const date = new Date();
            const dayOfWeek = daysOfWeek[date.getDay()];
            dayOfWeekElement.textContent = dayOfWeek;
        }
    
        /** 다이얼로그 사용 시 주석
        plusButton.addEventListener('click', function() {
            modal.classList.add('show');
            modalBackdrop.classList.add('show');
        });
        */
        closeModalButton.addEventListener('click', function() {
            modal.classList.remove('show');
            modalBackdrop.classList.remove('show');
        });
    
        modalBackdrop.addEventListener('click', function() {
            modal.classList.remove('show');
            modalBackdrop.classList.remove('show');
        });
    
        function validateTime(hour, minute) {
            const hourValue = parseInt(hour, 10);
            const minuteValue = parseInt(minute, 10);
            const isValidHour = !isNaN(hourValue) && hourValue >= 0 && hourValue < 24;
            const isValidMinute = !isNaN(minuteValue) && minuteValue >= 0 && minuteValue < 60;
            return isValidHour && isValidMinute;
        }
    
        function checkTimeInput() {
            const hour = hourInput.value;
            const minute = minuteInput.value;
            if (validateTime(hour, minute)) {
                errorMessage.classList.add('hidden');
            } else {
                errorMessage.classList.remove('hidden');
            }
        }
    
        function isFormValid() {
            const hour = hourInput.value;
            const minute = minuteInput.value;
            const reason = reasonInput.value.trim();
            return selectedEmotionText && validateTime(hour, minute) && reason !== '';
        }
    
        function updateSubmitButtonState() {
            if (isFormValid()) {
                submitButton.disabled = false;
            } else {
                submitButton.disabled = true;
            }
        }
    
        function updateTimeField() {
            const hour = hourInput.value.padStart(2, '0');
            const minute = minuteInput.value.padStart(2, '0');
            const timeString = `${hour}:${minute}`;
    
            if (formTimeInput) { 
                formTimeInput.value = timeString;
                console.log('Updated time:', timeString);
            } else {
                console.error('formTimeInput element not found');
            }
        }
    
        hourInput.addEventListener('input', function() {
            checkTimeInput();
            updateTimeField();
            updateSubmitButtonState();
        });
    
        minuteInput.addEventListener('input', function() {
            checkTimeInput();
            updateTimeField();
            updateSubmitButtonState();
        });
    
        reasonInput.addEventListener('input', updateSubmitButtonState);
    
        emotionButtons.forEach(button => {
            button.addEventListener('click', function() {
                selectedEmotionText = this.querySelector('.emoji').textContent.trim();
                emotionButtons.forEach(btn => btn.classList.remove('selected')); 
                this.classList.add('selected'); 
                updateSubmitButtonState();
            });
        });
    
        submitButton.addEventListener('click', function(event) {
            const hour = hourInput.value;
            const minute = minuteInput.value;
            if (!validateTime(hour, minute)) {
                event.preventDefault();
                errorMessage.classList.remove('hidden');
            } else {
                recordedEmotionStatus.textContent = selectedEmotionText || '없음';
                modal.classList.remove('show');
                modalBackdrop.classList.remove('show');
                submitButton.disabled = true;
                plusButton.disabled = true; 
            }
        });
    });
</script>
</body>
</html>
